# PNPM Config
auto-install-peers=true
progress=false
strict-ssl=false
strict-peer-dependencies=true

# Deploy Packages
always-auth=true
git-checks=false
publish-branch=production

# @CMRU-Computer-Science-66:registry=https://npm.pkg.github.com
